#root {
  max-width: 18000px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.deploy-area {
  margin-top: 30px;
  margin-bottom: 30px;
}

.input-puzzle {
  height: 32px;
  margin-right: 20px;
}

.puzzle-area {
  margin-top: 30px;
  margin-bottom: 30px;
}

.solution-btn {
  margin-top: 30px;
}

.msg {
  margin-top: 30px;
}

.custom-select option {
  background-color: #222;
  color: #FFF;
  padding: 8px;
  border-radius: 4px;
  transition: all 0.3s ease;
}

.custom-select option:hover {
  background-color: #1A202C;
  transform: translateY(-3px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.header {
  /* Other styles for the header */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.action-items {
  display: flex;
  gap: 20px; /* Spacing between dropdown and Sign Out button */
  align-items: center;
}

#wallet-dropdown {
  background: #1A202C;
  color: #FFF;
  border: 1px solid #555;
  border-radius: 8px;
  padding: 5px 10px;
  cursor: pointer;
}

.signout-btn {
  background: purple;
  color: #FFF;
  border: none;
  border-radius: 8px;
  padding: 5px 10px;
  cursor: pointer;
}

.signout-btn:hover {
  background: #6B46C1; /* Change to a desired hover color */
}

.json-output {
    width: 800px; /* Adjust width as needed */
    white-space: pre-wrap; /* Allows text to wrap */
    word-wrap: break-word; /* Break the word to next line */
    overflow-wrap: break-word; /* Ensures the overflow text is wrapped */
}
